body {
    font-family: sans-serif;
    color: #444;
  }
  
  .line {
      fill: none;
      stroke: #ffab00;
      stroke-width: 3;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-size: 10px;
  }

  .x.axis line, .x.axis path {
      fill: none;
      stroke: lightgrey;
  }
  #view{
      border: #CCC solid 1px;
      background-color: white;
  }

  .btn{
      outline:#CCC solid 2px;
  }