body {
    font-family: sans-serif;
    color: #444;
  }
  
  .line {
      fill: none;
      stroke: #ffab00;
      stroke-width: 3;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-size: 10px;
  }

  .x.axis line, .x.axis path {
      fill: none;
      stroke: lightgrey;
  }
  #view{
      border: #CCC solid 1px;
      background-color: white;
  }

  .btn{
      outline:#CCC solid 1px;
  }
  .btn:hover{
    outline: black solid 1px;
  }

  .fa-arrow-alt-circle-right{
    animation: sideways 2s ease infinite;
  }

  @keyframes sideways {
    0% {
      transform: translateX(-20%);
    }
  
    50% {
      transform: translateX(10%);
    }
  
    100% {
      transform: translateX(-20%);
    }
  }

  #showcase{
    background-image: url(../assets/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  

  }

  .strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-family: 'Montserrat', sans-serif;
}


.thead-dark{
  background-color: #333;
  color: white;
  font-weight: bold;
}


.card {
  max-width: 100%;
}
.card-text {
  word-wrap: break-word;
}



